<!-- Angular material spinner -->
<mat-spinner [diameter]="40" 
             *ngIf="isLoading">
</mat-spinner>

<!-- Angular Material table wrapper -->
<div [hidden]="isLoading" 
     class="mat-elevation-z8">
    <!-- Table -->
    <table mat-table 
           [dataSource]="listData"
           matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element"> 
                    {{ element.id }} 
                </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element"> 
                    {{ element.name }} 
                </td>
            </ng-container>
            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let element"> 
                    {{ element.type }} 
                </td>
            </ng-container>
            <!-- No Data -->
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    <p class="mat-body-1">There is no data available.</p>
                </mat-footer-cell>
            </ng-container>
            <!-- Server Error -->
            <ng-container matColumnDef="error">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    <p class="mat-body-1">{{ errorMessage }}</p>
                </mat-footer-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- If there is no offers available and if there is no error and spinner is not not active -->
            <tr mat-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData.data.length == 0 )}"></tr>
            <!-- Server error -->
            <tr mat-row *matFooterRowDef="['error']" [ngClass]="{'hide': listData != null}"></tr>
    </table>
    <!-- Table pagination -->
    <mat-paginator [class.hide]="listData == null || listData.data.length == 0" 
                   [pageSizeOptions]="[5, 10, 25, 50]" 
                   [pageSize]="5" 
                   showFirstLastButtons>
    </mat-paginator>
</div>